
$typography_display4_font-size : 112sp;
$typography_display3_font-size : 56sp;
$typography_display2_font-size : 45sp;
$typography_display1_font-size : 34sp;
$typography_headline_font-size : 24sp;
$typography_title_font-size    : 20sp;
$typography_subhead_font-size  : 16sp;
$typography_body2_font-size    : 14sp;
$typography_body1_font-size    : 14sp;
$typography_caption_font-size  : 12sp;
$typography_menu_font-size     : 14sp;
$typography_button_font-size   : 14sp;

$typography_display4_font-family : 'Roboto Light';
$typography_display3_font-family : 'Roboto Regular';
$typography_display2_font-family : 'Roboto Regular';
$typography_display1_font-family : 'Roboto Regular';
$typography_headline_font-family : 'Roboto Regular';
$typography_title_font-family    : 'Roboto Medium';
$typography_subhead_font-family  : 'Roboto Regular';
$typography_body2_font-family    : 'Roboto Medium';
$typography_body1_font-family    : 'Roboto Regular';
$typography_caption_font-family  : 'Roboto Regular';
$typography_menu_font-family     : 'Roboto Medium';
$typography_button_font-family   : 'Roboto Medium';

$typography_display4_color : lighten(black, 46%);
$typography_display3_color : lighten(black, 46%);
$typography_display2_color : lighten(black, 46%);
$typography_display1_color : lighten(black, 46%);
$typography_headline_color : lighten(black, 23%);
$typography_title_color    : lighten(black, 23%);
$typography_subhead_color  : lighten(black, 23%);
$typography_body2_color    : lighten(black, 23%);
$typography_body1_color    : lighten(black, 23%);
$typography_caption_color  : lighten(black, 46%);
$typography_menu_color     : lighten(black, 23%);
$typography_button_color   : lighten(black, 23%);
